/*
 JS 연관 정보:
 - 관련 스크립트: assets/js/main.js (triggerSpriteAnimation)
 - 역할: 각 프레임은 클래스명 `arm_moving2-Synfig-Animation-1-0000` 같은 형식으로 정의되어 있으며,
     JS에서 해당 클래스를 순차적으로 추가/제거하여 프레임 애니메이션을 구현합니다.
*/
.arm_moving2 {
    background-image: url(spritesheet2.png);
    background-repeat: no-repeat;
    display: block;
}

.arm_moving2-Synfig-Animation-1-0000 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -2px;
}

.arm_moving2-Synfig-Animation-1-0001 {
    width: 1920px;
    height: 1080px;
    background-position: -1926px -2px;
}

.arm_moving2-Synfig-Animation-1-0002 {
    width: 1920px;
    height: 1080px;
    background-position: -3850px -2px;
}

.arm_moving2-Synfig-Animation-1-0003 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -1086px;
}

.arm_moving2-Synfig-Animation-1-0004 {
    width: 1920px;
    height: 1080px;
    background-position: -1926px -1086px;
}

.arm_moving2-Synfig-Animation-1-0005 {
    width: 1920px;
    height: 1080px;
    background-position: -3850px -1086px;
}

.arm_moving2-Synfig-Animation-1-0006 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -2170px;
}

.arm_moving2-Synfig-Animation-1-0007 {
    width: 1920px;
    height: 1080px;
    background-position: -1926px -2170px;
}

.arm_moving2-Synfig-Animation-1-0008 {
    width: 1920px;
    height: 1080px;
    background-position: -3850px -2170px;
}

.arm_moving2-Synfig-Animation-1-0009 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -3254px;
}

.arm_moving2-Synfig-Animation-1-0010 {
    width: 1920px;
    height: 1080px;
    background-position: -1926px -3254px;
}

.arm_moving2-Synfig-Animation-1-0011 {
    width: 1920px;
    height: 1080px;
    background-position: -3850px -3254px;
}

.arm_moving2-Synfig-Animation-1-0012 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -4338px;
}

.arm_moving2-Synfig-Animation-1-0013 {
    width: 1920px;
    height: 1080px;
    background-position: -1926px -4338px;
}

.arm_moving2-Synfig-Animation-1-0014 {
    width: 1920px;
    height: 1080px;
    background-position: -3850px -4338px;
}

.arm_moving2-Synfig-Animation-1-0015 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -5422px;
}

.arm_moving2-Synfig-Animation-1-0016 {
    width: 1920px;
    height: 1080px;
    background-position: -1926px -5422px;
}

.arm_moving2-Synfig-Animation-1-0017 {
    width: 1920px;
    height: 1080px;
    background-position: -3850px -5422px;
}

.arm_moving2-Synfig-Animation-1-0018 {
    width: 1920px;
    height: 1080px;
    background-position: -5774px -2px;
}

.arm_moving2-Synfig-Animation-1-0019 {
    width: 1920px;
    height: 1080px;
    background-position: -5774px -1086px;
}

.arm_moving2-Synfig-Animation-1-0020 {
    width: 1920px;
    height: 1080px;
    background-position: -5774px -2170px;
}

.arm_moving2-Synfig-Animation-1-0021 {
    width: 1920px;
    height: 1080px;
    background-position: -5774px -3254px;
}

.arm_moving2-Synfig-Animation-1-0022 {
    width: 1920px;
    height: 1080px;
    background-position: -5774px -4338px;
}

.arm_moving2-Synfig-Animation-1-0023 {
    width: 1920px;
    height: 1080px;
    background-position: -5774px -5422px;
}

.arm_moving2-Synfig-Animation-1-0024 {
    width: 1920px;
    height: 1080px;
    background-position: -2px -6506px;
}
