/*
 JS 연관 정보:
 - 관련 스크립트: assets/js/main.js (triggerSpriteAnimation)
 - 역할: 각 프레임은 클래스명 `arm_moving1-Synfig-Animation-1-0000` 같은 형식으로 정의되어 있으며,
     JS에서 해당 클래스를 순차적으로 추가/제거하여 프레임 애니메이션을 구현합니다.
     (프레임 당 background-position을 통해 스프라이트 이미지를 표시)
*/
.arm_moving1 {
    background-image: url(spritesheet1.png);
    background-repeat: no-repeat;
    display: block;
}

.arm_moving1-Synfig-Animation-1-0000 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -1px;
}

.arm_moving1-Synfig-Animation-1-0001 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -1px;
}

.arm_moving1-Synfig-Animation-1-0002 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -1px;
}

.arm_moving1-Synfig-Animation-1-0003 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -1px;
}

.arm_moving1-Synfig-Animation-1-0004 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -1px;
}

.arm_moving1-Synfig-Animation-1-0005 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -1083px;
}

.arm_moving1-Synfig-Animation-1-0006 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -1083px;
}

.arm_moving1-Synfig-Animation-1-0007 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -1083px;
}

.arm_moving1-Synfig-Animation-1-0008 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -1083px;
}

.arm_moving1-Synfig-Animation-1-0009 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -1083px;
}

.arm_moving1-Synfig-Animation-1-0010 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -2165px;
}

.arm_moving1-Synfig-Animation-1-0011 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -2165px;
}

.arm_moving1-Synfig-Animation-1-0012 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -2165px;
}

.arm_moving1-Synfig-Animation-1-0013 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -2165px;
}

.arm_moving1-Synfig-Animation-1-0014 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -2165px;
}

.arm_moving1-Synfig-Animation-1-0015 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -3247px;
}

.arm_moving1-Synfig-Animation-1-0016 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -3247px;
}

.arm_moving1-Synfig-Animation-1-0017 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -3247px;
}

.arm_moving1-Synfig-Animation-1-0018 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -3247px;
}

.arm_moving1-Synfig-Animation-1-0019 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -3247px;
}

.arm_moving1-Synfig-Animation-1-0020 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -4329px;
}

.arm_moving1-Synfig-Animation-1-0021 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -4329px;
}

.arm_moving1-Synfig-Animation-1-0022 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -4329px;
}

.arm_moving1-Synfig-Animation-1-0023 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -4329px;
}

.arm_moving1-Synfig-Animation-1-0024 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -4329px;
}

.arm_moving1-Synfig-Animation-1-0025 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -5411px;
}

.arm_moving1-Synfig-Animation-1-0026 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -5411px;
}

.arm_moving1-Synfig-Animation-1-0027 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -5411px;
}

.arm_moving1-Synfig-Animation-1-0028 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -5411px;
}

.arm_moving1-Synfig-Animation-1-0029 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -5411px;
}

.arm_moving1-Synfig-Animation-1-0030 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -6493px;
}

.arm_moving1-Synfig-Animation-1-0031 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -6493px;
}

.arm_moving1-Synfig-Animation-1-0032 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -6493px;
}

.arm_moving1-Synfig-Animation-1-0033 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -6493px;
}

.arm_moving1-Synfig-Animation-1-0034 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -6493px;
}

.arm_moving1-Synfig-Animation-1-0035 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -7575px;
}

.arm_moving1-Synfig-Animation-1-0036 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -7575px;
}

.arm_moving1-Synfig-Animation-1-0037 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -7575px;
}

.arm_moving1-Synfig-Animation-1-0038 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -7575px;
}

.arm_moving1-Synfig-Animation-1-0039 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -7575px;
}

.arm_moving1-Synfig-Animation-1-0040 {
    width: 1920px;
    height: 1080px;
    background-position: -1px -8657px;
}

.arm_moving1-Synfig-Animation-1-0041 {
    width: 1920px;
    height: 1080px;
    background-position: -1923px -8657px;
}

.arm_moving1-Synfig-Animation-1-0042 {
    width: 1920px;
    height: 1080px;
    background-position: -3845px -8657px;
}

.arm_moving1-Synfig-Animation-1-0043 {
    width: 1920px;
    height: 1080px;
    background-position: -5767px -8657px;
}

.arm_moving1-Synfig-Animation-1-0044 {
    width: 1920px;
    height: 1080px;
    background-position: -7689px -8657px;
}

.arm_moving1-Synfig-Animation-1-0045 {
    width: 1920px;
    height: 1080px;
    background-position: -9611px -1px;
}

.arm_moving1-Synfig-Animation-1-0046 {
    width: 1920px;
    height: 1080px;
    background-position: -9611px -1083px;
}

.arm_moving1-Synfig-Animation-1-0047 {
    width: 1920px;
    height: 1080px;
    background-position: -9611px -2165px;
}

.arm_moving1-Synfig-Animation-1-0048 {
    width: 1920px;
    height: 1080px;
    background-position: -9611px -3247px;
}
